/* ==========================================================================
   THEME: DEFAULT LIGHT
   ========================================================================== */

:root {
  --global-bg-color: #fff;
  --global-font-color: #222;
  --global-link-color: #0055aa;
  --global-border-color: #ddd;
  --global-theme-color: #0055aa;
  --global-theme-color-hover: #003377;
  --global-warning-color: #ff9800;
  --global-danger-color: #dc3545;
  --global-info-color: #17a2b8;
  --global-code-text-color: #333;
  --global-code-background-color: #f5f5f5;
  --global-thead-color: #f0f0f0;
  --global-fig-caption-color: #666;
  --global-transition: 0.2s ease-in-out;
}
