/* ==========================================================================
   THEME: DEFAULT DARK
   ========================================================================== */

[data-theme="dark"] {
  --global-bg-color: #222;
  --global-font-color: #f0f0f0;
  --global-link-color: #4da6ff;
  --global-border-color: #444;
  --global-theme-color: #4da6ff;
  --global-theme-color-hover: #80c1ff;
  --global-warning-color: #ff9800;
  --global-danger-color: #dc3545;
  --global-info-color: #17a2b8;
  --global-code-text-color: #f0f0f0;
  --global-code-background-color: #333;
  --global-thead-color: #444;
  --global-fig-caption-color: #aaa;
  --global-transition: 0.2s ease-in-out;
}
