/* ==========================================================================
   FORMS
   ========================================================================== */

input,
textarea,
select {
  width: 100%;
  padding: 0.5em;
  border: 1px solid var(--global-border-color);
  border-radius: $border-radius;
  font-family: $global-font-family;
  font-size: $type-size-5;
}

button {
  padding: 0.5em 1em;
  background-color: var(--global-theme-color);
  color: var(--global-font-color);
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
}
